div.container-fluid
	h2.page-header= t('admin.articles')
	div.container-fluid
		a(href='#editarticle')
			//- TODO: check for permissions to display this button
			button.btn.btn-primary.pull-right= t('admin.addarticle')
		table.table.table-striped.table-bordered.table-hover.table-condensed
			thead
				th= t('date')
				th= t('title')
				th= t('createdby')
			tbody
				tr(ng-repeat='article in articles')
					td
						| {{article.created}}
					td
						a(ng-href='#editarticle/{{article._id}}')
							| {{article.title}}
					td
						| {{article.creator | cachedDocument:'user':'name'}}
						a.btn.btn-danger.btn-xs.pull-right(ng-click='remove(article)')
							span.glyphicon.glyphicon-remove
						a.btn.btn-success.btn-xs.pull-right(ng-href='#editarticle/{{article._id}}')
							span.glyphicon.glyphicon-pencil
