doctype html
html
	head
		title
			= 'RevaniCM ' + version + ' Admin Panel'
		link(rel='stylesheet', href='/vendor/bootstrap/dist/css/bootstrap.css')
		link(rel='stylesheet', href='/vendor/font-awesome/css/font-awesome.min.css')
		link(rel='stylesheet', href='/css/admin.css')
	body(ng-app='RevaniCMAdmin')
		div.navbar.navbar-inverse.navbar-fixed-top
			div.container-fluid
				div.navbar-header
					button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
						span.sr-only= t('togglenavigation')
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href='/admin')= 'RevaniCM ' + version
				div.collapse.navbar-collapse
					ul.nav.navbar-nav
						li
							a(class='dropdown-toggle', data-toggle='dropdown')
								= t('admin.articlemanager')
								span.caret
							ul(class='dropdown-menu navbar-dropdown')
								li
									a(href='#viewarticles')= t('admin.viewarticles')
								li
									a(href='#editarticle')= t('admin.addarticle')
						li
							a(class='dropdown-toggle', data-toggle='dropdown')
								= t('admin.usermanager')
								span.caret
							ul(class='dropdown-menu navbar-dropdown')
								li
									a(href='#viewusers')= t('admin.users')
								li
									a(href='#viewusergroups')= t('admin.usergroups')
		span(ng-view)
		script(type='text/javascript', src='/vendor/jquery/dist/jquery.min.js')
		script(type='text/javascript', src='/vendor/bootstrap/dist/js/bootstrap.min.js')
		script(type='text/javascript', src='/vendor/underscore/underscore.js')
		script(type='text/javascript', src='/vendor/angular/angular.js')
		script(type='text/javascript', src='/vendor/angular-route/angular-route.min.js')
		script(type='text/javascript', src='/vendor/textAngular/dist/textAngular-sanitize.min.js')
		script(type='text/javascript', src='/vendor/textAngular/dist/textAngular.min.js')
		script(type='text/javascript', src='/vendor/angular-bootstrap/ui-bootstrap.min.js')
		script(type='text/javascript', src='/js/RevaniCMAdmin.js')
		script(type='text/javascript', src='/js/RevaniCMAdminControllers.js')
		script(type='text/javascript', src='/js/RevaniCMAdminDirectives.js')
		script(type='text/javascript', src='/js/RevaniCMFilters.js')
		script(type='text/javascript', src='/js/RevaniCMServices.js')
